[Unit]
Description=Intiface Engine
After=network.target

[Service]
WorkingDirectory=/usr/local/intiface-engine
ExecStart=/usr/local/intiface-engine/intiface-engine --websocket-port 12334 --use-lovense-dongle-hid --websocket-use-all-interfaces --log debug --use-device-websocket-server --device-websocket-server-port 12344 --device-config-file buttplug-device-config-v3.json
Restart=on-failure
RestartPreventExitStatus=255


[Install]
WantedBy=multi-user.target
Alias=intiface.service
